<log4net debug="true">
  <appender name="FileAppender" type="log4net.Appender.FileAppender">
    <param name="AppendToFile" value="true" />
    <param name="Threshold" value="DEBUG" />
    <param name="File" value="/tmp/streamiz-test/unit-test" />
    <layout type="log4net.Layout.PatternLayout">
      <param name="ConversionPattern" value="%d [%t] %-5p %c - %m%n" />
    </layout>
  </appender>
  <root>
    <level value="DEBUG" />
    <appender-ref ref="FileAppender" />
  </root>
</log4net>